<!-- <app-dbchoice (selectEvent)="selectedDBEvent($event)"></app-dbchoice> -->

<table>
    <thead>
        <tr>
            <th>Mã sinh viên</th>
            <th>Họ tên</th>
            <th>Mã ngành</th>
        </tr>
    </thead>
    <tbody *ngIf="sv.length > 0">
        <tr *ngFor = "let sinhvien of sv">
            <td>{{sinhvien.maSinhVien}}</td>
            <td>{{sinhvien.hoTen}}</td>
            <td>{{sinhvien.maNganh}}</td>
        </tr>  
    </tbody>
</table>

<!-- Notification for no employees -->
<div *ngIf="sv?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Sinh viên rỗng.</h4>
      <p>Không có sinh viên nào được tìm thấy.</p>
    </div>
</div>