body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn-xoa {
    background-color: #007bff;
    color: white;
    font-size: 2.5vmin;
    padding: 1.5vmin 4vmin;
    border: none;
    border-radius: 5vmin;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    transition: background-color 0.3s ease;
}
.btn-xoa:hover {
    background-color: #0056b3;
}