/* .login-box {
  text-align: center;
} */

.login-box h2 {
  margin-bottom: 5vmin;
}

.form-group {
  margin-bottom: 5vmin;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 2vmin;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 5vmin);
  padding: 2vmin;
  border: 0.5vmin solid #ccc;
  border-radius: 2vmin;
}

.button {
    background-color: #333;
    color: white;
    font-size: 2.4vmin;
    padding: 2vmin 15vmin;
    border: none;
    border-radius: 2vmin;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: #444;
}