body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    /* background-image: url('../assets/images/background.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center; */
    /* background-size: cover; */
    /* background-position: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    /* min-height: 100vmin; */
    /* height: 100vmin; */
}

.head{
    margin: 0;
    padding: 0;
    position: relative;
}

main {  
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vmin;
    /* width: 100vw; */
    /* height: 100vh; */
}

.container {
    max-width: 100vmax;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 4vmin;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4vmin;
    border-radius: 5vmin;
    /* justify-content: center; */
    margin: auto;
    /* box-shadow: 0 0 3vmin rgba(0, 0, 0, 0.2); */
}