<table>
    <thead>
        <tr>
            <th>Mã ngành</th>
            <th>Tên ngành</th>
        </tr>
    </thead>
    <tbody *ngIf="ndt.length > 0">
        <tr *ngFor = "let nganh of ndt">
            <td>{{nganh.maNganh}}</td>
            <td>{{nganh.tenNganh}}</td>
        </tr>
    </tbody>
</table>
<!-- Notification for no employees -->
<div *ngIf="ndt?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Ngành rỗng!</h4>
      <p>Không có ngành nào được tìm thấy.</p>
    </div>
</div>